@model Escape.Models.IndexViewModel
@using Escape.Models
@{
    ViewBag.Title = "Manage";
}
<div class="colorWhite">
    <div>
        <div id="ajax">
            <h1>@ViewBag.Creator.username's profile</h1><hr />

            <h4 style="display:inline;">Username: </h4><p class="inline" style="display:inline;" id="Un"> @ViewBag.Creator.username</p>
        </div>
        <input type="button" class="btn btn-link ,inline" style="color: indianred" value="Change username" id="changeUsername" />

        <div id="changeUN" style="opacity: 0%;">

            <input id="in" style="color: black;" type="text" name="newUN" />
            <input type="hidden" name="oldUsername" value="@ViewBag.Creator.username" id="oldUN" />
            <input type="submit" value="Save changes" id="changed" class="btnOutlineDanger" style=" border: solid 3px rgb(196, 27, 44);
                                                                                                        background-color: white;
                                                                                                        border-radius: 8px;
                                                                                                        color: darkred;" />

        </div>

        <div id="other" style="position: relative;">
            <h4 style="display:inline;">Email: </h4><p style="display:inline;" class="inline">@User.Identity.Name</p> <br />
            <h4 style="display:inline;">Arts: </h4>
            <ul style="list-style: none;">
                @foreach (Art art in ViewBag.Arts)
                {
                    <a style="color:lightgreen" href="/Art/Details/@art.id">
                        <li style=" position: relative; top: -20px;"><img src="~/Poster/arrow.png" style="height:15px; width: 15px; position: relative; top: -3px;" /> @art.artName</li>
                    </a>
                }
            </ul>
        </div>
    </div>

            <img id="backk" src="~/Poster/back.png" style="position:relative; left:-33px; top:0px; width: 30px; opacity: 0%;" />
            <a id="back" style="position: relative; left:-33px; top: 0px;" class="btn btn-danger" href="/Art/Index">Home</a>

            <div style="position: absolute; bottom: 0px;">
                <h4>Change your account settings</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <dt>External Logins:</dt>
                    <dd>
                        @Model.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>
                    @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                    *@
                    @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                    *@
                    <dt>Two-Factor Authentication:</dt>
                    <dd>
                        <p>
                            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication.
                        </p>
                        @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                    </dd>
                </dl>
            </div>

        </div>
    </div>
@section Scripts{
    <script>
        $(function () {
            $("#other").css({
                "top": "-20px"
            });
            $("#changeUsername").hover(function () {
                $(this).css("color", "red");
            }, function () {
                $(this).css("color", "indianred");
            });
            $("#changeUsername").click(function () {
                $("#other").animate({ top: "20px" }, 1000);
                $("#changeUN").animate({ opacity: "100%" }, 1000);
            });

            $("#changed").click(function () {
                var newUsername = $("#in").val();
                var oldUsername = $("#oldUN").val();
                $.ajax({
                    type: "GET",
                    url: '/Manage/ChangeUsername',
                    data: jQuery.param({ newUN: newUsername, oldUsername: oldUsername }),
                    contentType: false,
                    processData: false,
                    success: function (results) {
                        $("#ajax").html(results);
                        if ($("#checkWhichPartial").attr("vall") == "true") {
                            $("#changeUN").hide();
                            $("#changeUsername").hide();
                        }
                    }
                });
            });

        });
        $(function () {
            $("#changed").hover(function () {
                $(this).css("background", "antiquewhite");
            }, function () {
                $(this).css("background", "white");
            });
            /*
            $("#changed").click(function () {
                $("#changeUsername, #changeUN").hide();
            });
             */
            $("#back").hover(function () {
                $("#backk").animate({ opacity: "100%" }, 1000);
            }, function () {
                $("#backk").animate({ opacity: "0%" }, 1000);
            });
        });
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}