@model Escape.Models.IndexViewModel
@using Escape.Models
@{
    ViewBag.Title = "Manage";
}
<div class="colorWhite">
    <div>


        <h1>@ViewBag.Creator.username's profile</h1>

        <input type="button" class="btn btn-warning" value="Change username" id="changeUsername" />

        <p class="text-success">@ViewBag.StatusMessage</p>

        <div id="creatorInfo">
            @Html.Label("Username: ")<p style="display:inline;" id="Un"> @ViewBag.Creator.username</p> <br />

            <div id="changeUnBox" style="visibility: hidden;">
                <!--ovde dosredi i dolu vo funkciite-->





            </div>

            @Html.Label("Email: ") @User.Identity.Name <br />
            @Html.Label("Arts: ") 
            <ul style="list-style: none;">
                @foreach (string art in ViewBag.Arts)
                {
                    <li style="position: relative; top: -20px;"><img src="~/Poster/arrow.png" style="height:20px; width: 20px; position: relative; top: -5px;"/>   @art</li>
                }
            </ul>
            <br />
        </div>




        <div style="position: absolute; bottom: 0px;">
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>

                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
                @*
                    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                     Uncomment the following block after you have set up two-factor authentication
                *@
                @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                *@
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication.
                    </p>
                    @*@if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                                </text>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                                </text>
                            }
                        }*@
                </dd>
            </dl>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#changeUsername").click(function () {
                $("#changeUnBox").css("visibility", "visible");
            });
        });
    </script>
}