@model Escape.Models.Art

@{
    ViewBag.Title = "Details";
}
<div class="colorWhite">
    
    <h2 style="font-size: 50px;">
        @Html.DisplayFor(x => x.artName)
    </h2>

    <hr />

    <div style="display:inline-block; height:616px; position:relative; float:left;">
        @Html.HiddenFor(x => x.id)

        <img height="500px" width="500px" style=" margin-right:100px; float: left;" src=@Url.Content(@Model.artUrl) />
        
        <a style=" text-decoration:none; color: white;" href="/Art/CreatorDetails/@Model.creator.id">
            <p style="font-size: 30px;"><b style="color: grey; font-size: 20px;">Artist: </b>
                @Html.DisplayFor(model => model.creator.username)
            </p>
        </a>
        <p class="length" style="font-size: 14px;">
            @Html.DisplayFor(model => model.creator.email)
        </p>
        <img id="backk" src="~/Poster/back.png" style="position:absolute; left:-6%; bottom:0px; width: 30px; opacity: 0%;" />
        <a id="back" style="position: absolute; left:0%; bottom: 0px;" class="btn btn-danger" href="/Art/Index">Home</a>
        @if (User.Identity.Name == Model.creator.email)
        {

            <a href="/Art/Edit/@Model.id" class="btn btn-default" style="margin-left: 11.3%; position:relative; bottom:0px;">Edit</a>
            <a href="/Art/Delete/@Model.id" class="btn btn-default">Delete</a>
        }
    </div>
    <div style="float: left;
         position: relative;
         display: inline-block;
         width: 500px;
         top: 0px;>
        <p style="font-weight: bold;">
            @Html.DisplayNameFor(model => model.desc)
        </p>

        <p style="color: lightgrey;">
            @Html.DisplayFor(model => model.desc)
        </p>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#back").hover(function () {
                $("#backk").animate({ opacity: "100%" }, 1000);
            }, function () {
                $("#backk").animate({ opacity: "0%" }, 1000);
            });
        });
    </script>
}