@model Escape.Models.Art

@{
    ViewBag.Title = "Edit";
}
<div class="colorWhite">


    <h2>Edit @Model.artName</h2>

    <img id="backk" src="~/Poster/back.png" style="position:absolute; left:140px; top:70px; width: 30px; opacity: 0%;" />
    <a id="back" style="position: absolute; left:200px; top: 70px;" class="btn btn-danger" href="/Art/Details/@Model.id">Back</a>

    @using (Html.BeginForm("ArtEditor", "Art"))
    {

        @Html.HiddenFor(x => x.creator.id)
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.LabelFor(model => model.artName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.artName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.artName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.desc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.desc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.desc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script>
        $(function () {
            $("#back").hover(function () {
                $("#backk").animate({ opacity: "100%" }, 1000);
            }, function () {
                $("#backk").animate({ opacity: "0%" }, 1000);
            });
        });
    </script>
}
